{% extends 'base.html' %}
{% block style %}
{% load static %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<link rel="stylesheet" href="{% static "adminpage/css/loginAdmin.css" %}">

{% endblock style %}
{% block title %}
LoginAdmin
{% endblock title %}
{% block content %}
    <div class="container">
  <form action="" method = "POST">
  {% csrf_token %}
    <div class="row">

      <div class="col">
        <h2 style="color: blue" style="text-align: center;">Temperature Monitoring System</h2>
         <p>Temperature monitoring system helps you measure temperature from the Arduino</p>
      </div>

    <div class="col" >
        <p></p>        
        {% comment %} <input type="password" class =""name="password" placeholder="Password:" style=" border: 1px solid #dddfe2;"> {% endcomment %}
        {% comment %} <input type="email" class="" name="email" placeholder="Email address:" style=" border: 1px solid #dddfe2;"> {% endcomment %}
        {{form.email}}
        {{form.password}}

        <button type="submit" value="login" class="btn btn-info">Login</button>
        <a href="{% url 'password_reset' %}" style="color: blue" class="btn" style="border: none;">Forgot Password?</a><br>
        <!-- <div class="hello">
          <a href="{% url 'register' %}" class="btn btn-success"style="text-decoration:none,color:white"> Create new account</a>
        </div> -->
      
      {% if messages %}
        {% for message in messages %}
       <div class = "message">   <p>{{message}}</p></div>
        {% endfor %}
      {% endif %}
      </div>
    </div>
      
    </div>
  </form>
</div>
{% endblock content %}