{% extends 'base.html' %}
{% block title %}
Password reset sent
{% endblock title %}
{% block style %}
{% load static %}
<link rel="stylesheet" href="{% static "adminpage/css/auth/passwordsent.css" %}">
{% endblock style %}
{% block content %}
<div class="header">
    <div class="go-back">
        <a href="{% url 'adminLogin' %}">Back</a>
    </div>
</div>
<div class="content">
    <h1>Password reset sent</h1>
    <p>We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</p>
    <p>If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.</p>
</div>
{% endblock content %}