{% extends 'base.html' %}
{% block title %}
PasswordReset
{% endblock title %}
{% block style %}
{% load static %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<link rel="stylesheet" href="{% static "adminpage/css/auth/passwordreset.css" %}">
{% endblock style %}
{% block content %}
<div class="header">
    <div class="go-back">
        <a href="{% url 'adminLogin' %}">Back</a>
    </div>
</div>

<form action="" class="">
        {% csrf_token %}
            
        <input type="email" name="email" id="id_email" placeholder="Email">
        <button type="submit" value="login" class="btn btn-info">Submit</button>
</form>

{% endblock content %}