{% extends 'base.html' %}
{% block title %}
PasswordReset
{% endblock title %}
{% block style %}
{% load static %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<link rel="stylesheet" href="{% static "adminpage/css/auth/passwordreset.css" %}">
{% endblock style %}
{% block content %}
{% include "navlog.html" %}

<div class="content">
    <form action="" method="POST" class="">
        {% csrf_token %}
        <div class="font-forget">
            Forget Password?
        </div>
        <div class="paragraph">
           Please enter your email to get verify link
        </div>
        <div class="input">
            <input type="Email" name="email" id="id_email" maxlength="250" placeholder="Email:">
            <button  >Submit</button>
        </div>
    </form>
</div>
{% endblock content %}