{% extends 'baseadmin.html' %}
{% block title %}
User
{% endblock title %}
{% block style %}
{% load static %}
<style>
  body{
    overflow: auto;
  }
</style>
{% endblock style %}
{% block content %}
        <div class="container-fluid js-change-list" id="change-list" style="overflow-x:auto; ">

          {% include "adminall/user/userlist.html" %}      
         
        </div>
    <!-- End of Content Wrapper -->
  <div class="modal fade" id="CRUDroom">
    <div class="modal-dialog">
        <div class="modal-content">

        </div>
    </div>


{% endblock %}
{% block script %}
<script src="{% static "adminpage/js/user/user.js" %}"></script>
{% endblock script %}