{% if username %}
    {% for user in username %}
    <tr>
        <td scope="row">{{user.username}}</td>
        <td>{{user.email}}</td>
        <td>{{user.userprofile.phone}}</td>
        <td>
        <!-- <button style="font-size: 12px;" type="button" class="btn btn-danger"><i class="fa fa-trash"></i> Delete</button>&nbsp; -->
        <button type="button" style="font-size: 10px; color:red;" class="btn" >
        <i class="fas fa-trash"></i> Delete
        </button>
        
        <!-- Button to Open the Modal for edit user-->
        <button  style="font-size: 10px; color:blue;" type="button" class="btn" data-url="{% url 'useredit' user.pk %}"><i class="fa fa-edit"></i>Edit</button>
            
        
        </td>
    </tr>
    {% endfor %}
{% endif %} 