{% extends 'baseadmin.html' %}
{% block title %}
  Profile
{% endblock title %}
{% block style %}
{% load static %}
{% endblock style %}
{% block content %}
        <div class="container-fluid">
            {% include 'adminall/profile/profileform.html' %}
        
        </div>
    <div class="modal fade" id="profilepuser">
        <div class="modal-dialog">
            <div class="modal-content">
                
            </div>
        </div>
    </div>

{% endblock content %}
{% block script %}
<script src="{% static "adminpage/js/user/adminpage.js" %}"></script>

<script src="{% static "adminpage/js/profile/profileForm.js" %}"></script>
{% endblock script %}