*{
    margin: 0;
}
body{
    overflow: hidden;
    cursor: pointer;
    background: #f0f2f5;
    font-family: Arial, Helvetica, sans-serif;
}
.header{
    display: flex;
    align-items: center;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075) !important;
    padding:5px;
    background: white;
}
.go-back a{
    color: black;
    font-size: 17px;
    text-decoration:none;
}
.go-back a::after{
    color:gray;
}
h1{
    color: gray;
    padding: 10px;
}
p{
    padding: 10px;
}
.content{
    background: white;
    width: 50%;
    margin-right: auto;
    margin-left: auto;

    margin-top: 5%;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1); 
}
@media screen and (max-width: 650px) {
    h1{
        font-size:20px;
    }
    p{
        font-size: 17px;
    }
    
    .content{
        width: auto;
        height: auto;
    }
}