.content{
    background: white;
    width: 50%;
    margin-right: auto;
    margin-left: auto;

    margin-top: 5%;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1); 
}
.paragraph{
    text-align: center;
    margin-top: 5%;
    font-size: 20px;
    padding-bottom: 10%;
    border-bottom: 1px solid #dadde1;
    
}
input[type=email]{
    cursor: pointer;
    width: 80%;
    display: inline-block;
    font-size: 17px;
    margin-top: 2%;
    opacity: 0.85;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    margin-bottom: 2%;
}

.input{
    margin-top:10%;
}
.font-forget{
    padding-top: 5%;
    font-size: 40px;
}

form{
    text-align: center;
}
button{
    background-color: #165cb8;
    border: none;
    color: white;
    width: 20%;
    margin-top: 10%;
    padding-top: 5px;
    padding-bottom:5px ;
    border-radius: 2px;
    font-size: 17px;
    margin-bottom: 5%;

}
button:hover{
    background-color: #276eca;
}
@media screen and (max-width: 650px) {
    button,input[type=email],.paragraph{
        font-size: 17px;
    }
    .font-forget{
        font-size:20px;
    }
    .input{
        border-bottom: 1px solid #dadde1;
    }
    .content{
        width: auto;
        height: auto;
    }
}