*{
    margin: 0;
}
body{
    overflow: hidden;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
}
.header{
    display: flex;
    align-items: center;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075) !important;
    padding:5px;
}
.go-back a{
    color: black;
    text-decoration:none;
}
.go-back a::after{
    color:gray;
}
.content{
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1); 
}
input[type=email],input[type=submit]{
    cursor: pointer;
}
.input-email{
    width: 100%;
    padding: 12px;
    border-radius: 4px;
    margin: 5px 0;
    opacity: 0.85;
    display: inline-block;
    font-size: 17px;
    line-height: 20px;
    text-decoration: none; 
}
form{
    text-align: center;
}
button{
    background-color: #1877f2;
    border: none;
    border-radius: 6px;
    font-size: 20px;
    line-height: 48px;
    padding: 0 16px;
}