.content{
    background: white;
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 5%;
    border-radius: 5px;
    text-align: center;
    

}


.content:hover{
    box-shadow: 0 1px 2px rgba(0, 0, 0, .1), 0 4px 8px rgba(0, 0, 0, .1); 
}
form{
    border-bottom: 1px solid #dadde1;
    
    justify-content: center;
}
#id_username,#id_password1,#id_password2{
    width: 80%;
}
#id_first_name,#id_last_name{
    width: 30%;
}
.content-input{
    display: flex;
   justify-content: space-around;
}
