
h1{
    color: gray;
    padding: 10px;
}
p{
    padding: 10px;
}
.content{
    background: white;
    width: 50%;
    margin-right: auto;
    margin-left: auto;

    margin-top: 5%;
    border-radius: 5px;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);  */
    box-shadow:inset 0 0 0 1px var(--media-inner-border);
}
@media screen and (max-width: 650px) {
    h1{
        font-size:20px;
    }
    p{
        font-size: 17px;
    }
    
    .content{
        width: auto;
        height: auto;
    }
}