{% extends 'base.html' %}
{% block title %}
Subadmin
{% endblock title %}
{% load static %}
{% block script %}
<script src="{% static "subadmin/js/room.js" %}"></script>
{% endblock script %}
{% block style %}


  {% include "bootstrap.html" %}
  <link rel="stylesheet" href="{% static "adminpage/css/navbar.css" %}">
  <link rel="stylesheet" href="{% static "icon/css/all.css" %}">
    <link rel="stylesheet" href="{% static "chartjs/css/Chart.css" %} ">
    <link rel="stylesheet" href="{% static "chartjs/css/Chart.min.css" %}">
   <script src="{% static "chartjs/js/Chart.bundle.js" %}"></script>
   <script src="{% static "chartjs/js/Chart.bundle.min.js" %}"></script>
  <script src="{% static "chartjs/js/Chart.js" %}"></script>  
  <script src="{% static "chartjs/js/Chart.min.js" %}"></script>
    <link rel="stylesheet" href="{% static "adminpage/css/content.css" %}">
    <link rel="stylesheet" href="{% static "adminpage/css/chartcontent.css" %}">
    <link rel="stylesheet" href="{% static "adminpage/css/sidebar.css" %}">
    <link rel="stylesheet" href="{% static "adminpage/css/dropdown.css" %}">
    <link rel="stylesheet" href="{% static "adminpage/css/user/roomcard.css" %}">
    <link rel="stylesheet" href="{% static "adminpage/css/user/formRoom.css" %}">
{% endblock style %}



{% block content %}
<div class="nav-bar">
    <button class="nav-logo">
        <i class="fa fa-bars"></i>
    </button>
    <div class="nav-profile">
        <button class="profile-dropdown">
            {% if request.user.userprofile.img %}
            <i><img class="img-profile rounded-circle" style="width:20px;height:20px;" src="{{request.user.userprofile.img.url}}" alt="">
            {% else %}
            <i><img class="pic-user"src="" alt="">
            {% endif %}
            </i>{{request.user}}
            
        </button>
    </div>
</div>


{% include "subadmin/roomlist/modalRoom.html" %}   

<div class="modal fade" id="CRUDroom">
    <div class="modal-dialog">
        <div class="modal-content">

        </div>
    </div>
</div>
<div class="content">
    <div class="sidebar">
        <div class="linksidebar">
            <hr>
            <div >
            {% if request.user.userprofile.img %}
                <a class="profile-pic" href=" {% url 'profile' %}"> <i><img class="rounded-circle" style="width:60px; height:60px; padding:10px;" src="{{request.user.userprofile.img.url}}" alt="">
                </i>
                {% else %}
                <a class="profile-pic" href=" {% url 'profile' %}"> <i><img class="rounded-circle" style="width:60px; height:60px; padding:10px;" src="" alt="">
                </i>
            {% endif %}
                <div class="user">{{request.user}}</div></a>
            </div>
            <hr>
            <div class="linkbar">
                <a href="{% url 'adminpage' %}" class=""><i class="fas fa-home"></i>Home</a> 
            </div>
            <div class="linkbar">
                <a href=""><span><i class="fas fa-history"></i></span><span> History</span></a>
            </div>    
            
        </div>
    </div>

    <div class="content-all" >
        <div class="dropdown">
            <div class="for_position">
            <div class="profile-pic-1">
                <div >
                {% if request.user.userprofile.img %}
                    <a class="profile-pic" href=" {% url 'profile' %}"> <i><img class="rounded-circle" style="width:50px; height:50px; padding:10px;"src="{{request.user.userprofile.img.url}}" alt="">
                    </i>
                {% else %}
                    <a class="profile-pic" href=" {% url 'profile' %}"> <i><img class="pic-nani"src="" alt="">
                    </i>
                {% endif %}
                    <div class="user">{{request.user}}</div></a>
                </div>
            </div>
            <hr>
            <div class="link-dropdown">
                <a href="{% url 'profile' %}" role="menuitem"><i class="fas fa-user"></i>Profile</a>
                <a href=""><i class="fas fa-edit"></i>Edit profile</a>
                <a href="{% url 'logoutpage' %}"><i class="fas fa-door-open"></i>Logout</a>
            </div>
        </div>
        </div>
        <div class="chart-container">
            <div class="content-room-report">
                <div class="width-room">
                 
                    <button id="room" class="report-room">
                        ROOM
                    </button>
                </div>
                <div class="width-report">
                <button class="generate-report">
                    <i class="fas fa-file-download"></i> generate report
                </button>
                </div>
            </div>
            <div class="room">
                Building and Room:
            </div>
            <div class="chart-graph" >
                <canvas id="myChart" ></canvas>
            </div>
        </div> 
    </div>
</div> 

<script>
    // search function
    $('#data').keyup(function(){
        console.log($(this).val())
        var value = $(this).val().toLowerCase();
        {%for data in room%}
        $('#{{data.buildingRoom}}').filter(function(){
            
            $(this).toggle($(this).text().toLowerCase().indexOf(value)>-1);    
        })
        {%endfor%}
    });     
</script>
<script>
//     {% for i in room %}
//         setInterval(()=>{$("#{{i.buildingRoom}}").click(function(){
//             console.log($(this));
//             var endpoint="{% url 'tempsub' i.buildingRoom %}"
//             var livegraph=function(){
//             $.ajax({
//             url:endpoint,
//             type:"get",
//             dataType:'json',
//             success:function(data){
//                 console.log(endpoint);
//                 console.log(data.temperature);
//                 console.log(data.date_and_time);
//                 var dataSet = data.date_and_time;
//                 var label = data.temperature;
//                 console.log(label);
//                 chart.data.datasets[0].data=label;  
//                 chart.data.labels = dataSet;
//                 chart.update();
//             },
            
//         });

//         }
//         livegraph();
//     });},1000);

    
//     {% endfor %}
//     var ctx = document.getElementById('myChart').getContext('2d');
//     var chart = new Chart(ctx, {
//     // The type of chart we want to create
//     type: 'line',
    
//     // The data for our dataset
//     data: {
//         labels: [],
//         datasets: [{
//             label: 'Temperature:',
//             backgroundColor: '#deeff5',
//             borderColor: '#add8e6',
//             hoverBackgroundColor: "rgba(255,99,132,0.4)",
//             data: [],
//         }]
//     },

//     // Configuration options go here
//     options: {
//         // maintainAspectRatio: false,
//         responsiveAnimationDuration:0,
//         // aspectRatio:2,
//         // onResize:null,
//         responsive:true,
//         title: {
//             display: true,
//             position:'left',
//             text: 'Celsius'
//         },
//         scales: {
//             xAxes: [{
//                 display: true
//             }],
//             yAxes: [{
               
//                 display: true
//             }]
//         },
//         legend: {
//             display: true,
//             labels: {
                
//             }
//         }
        
//     }
// });
</script>
<script src="{% static "adminpage/js/modal.js" %}"></script>
<script src="{% static "subadmin/js/reloadgraph.js" %}"></script>
<!-- <script src="{% static "adminpage/js/chartfile.js" %}"></script> -->
<script src="{% static "adminpage/js/dropdown.js" %}"></script>




{% endblock content %}
