/* .content-chart{
    margin-top: 2%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1); 
    background-color: white;
    width: 60%;
} */
.chart-graph{
    background-color: white;
    border-radius: 5px;
}
.chart-graph:hover{
    box-shadow: 0 1px 2px rgba(0, 0, 0, .1), 0 4px 8px rgba(0, 0, 0, .1); 
}
.content-all{
    width: 90%;
    display: block;
}
.room{
    margin-bottom: 2%;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
}
.room:hover{
    box-shadow: 0 1px 2px rgba(0, 0, 0, .1), 0 4px 8px rgba(0, 0, 0, .1); 
}
.chart-container{
    margin-top: 2%;
    width: 90%;
    margin-right: auto;
    /* background-color: white; */
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);  */
}
.content-room-report{
    display: flex;
    width:100%;
}
.width-room{
    width: 50%;
}
.width-report{
    width: 50%;
}
.generate-report{
    font-weight: 500%;
    width: 96%;
    float: right;
    padding: 10px;
    border:none;
    font-size: 17px;
    border-radius: 5px;
    background-color: white;
    margin-bottom: 4%;
    cursor: pointer;

}
.generate-report:hover{
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .1), 0 4px 8px rgba(0, 0, 0, .1); 
}
.report-room{
    font-weight: 500;
    font-size: 17px;
    width: 96%;
    padding: 10px;
    border-radius: 5px;
    background-color: white;
    border: none;
    margin-bottom: 4%;
    cursor: pointer;
}
.report-room:hover{
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .1), 0 4px 8px rgba(0, 0, 0, .1); 

}
.fa.fa-bars{
    display: none;
}
@media screen and (max-width: 650px) {
    .chart-container{
       width: 100%;
       height: 100%;
       padding-left:0 ;
    }
    .report-room{
        font-size: 11px;
    }
    .generate-report{
        font-size: 11px;
    }
    .content-all{
        width: 100%;
    }
    .content{
        width: 100%;
    }
    .room{
        font: 11px;
    }
    .fa.fa-bars{
        display: block;
        
    }
}