.content{
    width: 100%;
    display: flex;
    height: 90vh;
}
.sidebar{
    width: 20%;
    height: 100%;
    display: block;
}
.linksidebar{
    width: 100%;
}
@media screen and (max-width: 650px) {
    .content{
        display: block;
        height: auto;
    }
}