.content{
    display: block;
    /* display: flex;
    justify-content: space-between;
    cursor: pointer; */
    width: 100%;
}
.sidebar{
    display: flex;
    width: 100%;
}
.linksidebar{
    width: 20%;
}