.content{
    width: 100%;
    display: flex;
}
.sidebar{
    width: 20%;
    display: block;
}
.linksidebar{
    width: 100%;
}
@media screen and (max-width: 650px) {
    .content{
        display: block;
    }
}