.dropdown{
    position: relative;
    display:none;
    width:25%;
    margin-left: 75%;
    background: white;
    /* text-align: center; */
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1); 
}
.for_position{
    position: absolute;
    width: 100%;
    background: white;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1); 

}
.profile-dropdown{
    border: none;
    display: flex;
    background-color: white;
    align-items: center;
    border-radius: 5px;
}
.profile-dropdown:hover{
    background-color: rgba(0, 0, 0, 0.1);
}
.dropdown a{
    text-decoration:none;

}
.profile-pic-1{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    /* border-bottom: 1px solid #dadde1; */

}
hr{
   border: 0.5px solid #dadde1;
   width: 94%;
   margin-left: auto;
   margin-right: auto;
}
.profile-pic{
    display: flex;
    width: 94%;
    margin-right: auto;
    margin-left: auto;
    border-radius: 5px;
    align-items: center;
    cursor: pointer;   
}

i{
    margin-right:3% ;
    float: left;
}
.profile-pic:hover{
    text-decoration: none;
    color: black;
    background-color: rgba(0, 0, 0, 0.1);
}
.user{

    font-weight: 500;
    font-size: 1.0625rem;
    margin-left: 15%;
}
.pic-user{
    border-radius: 5px;
    width: 28px;
    height: 28px;
    text-align: center;
}
.pic-nani{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-top: 10px;
    margin-left:10px;
    margin-bottom: 10px;
    
}
.profile-pic{
    text-decoration:none;
    color: black;
    display: flex;
    align-items: center;
}
.link-dropdown{
    width: 100%;
}
.link-dropdown>a{
    margin-top:2%;
    margin-bottom: 2%;
    display: block;
    color: black;
    padding: 2%;
    width: 94%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 3px;
}
.link-dropdown>a:hover{
    background-color: rgba(0, 0, 0, 0.1);

}   
.email{
    font-size:10px;
}
.pic-user{
    display: block;
}
@media screen and (max-width: 650px) {
    .dropdown{
        display: none;
        width: 100%;
        margin-left: 0;
        position: relative;
        border-top:1px solid #dadde1;
        padding-top:2% ;
        padding-bottom:2% ;
        background-color: white;
    }
    .for_position{
        position: relative;
    }
    .profile-pic{
        
        margin-top: 2px;
        margin-bottom: 2px;
    }
    a{
        padding: 2%;
        width: 94%;
        margin-left: auto;
        margin-right: auto;
    }
    a:hover{
        background-color: rgba(0, 0, 0, 0.2);

    }
    .profile-pic:hover{
        background-color: rgba(0, 0, 0, 0.2);
    }
}