
<form id="{{user}}" method="POST" action="{% url 'createroomadmin'%}" class="js-create-room-form">
    {% csrf_token %}
    <div class="modal-header">
        <h5 class="modal-title">Create Room</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label for="exampleInputEmail1">Create Room</label>
            <!-- <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email"> -->
           {{form.buildingRoom}}
            <small id="emailHelp" class="form-text text-muted">Add room Ex: I213</small>
        </div>
        {% if form.errors %}
            {{form.errors}}
        {% endif %}
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Save</button>
    </div>
</form>