/* .content-chart{
    margin-top: 2%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1); 
    background-color: white;
    width: 60%;
} */
.chart-graph{
    background-color: white;
    border-radius: 5px;
}
.chart-graph:hover{
    box-shadow: 0 1px 2px rgba(0, 0, 0, .1), 0 4px 8px rgba(0, 0, 0, .1); 
}
.content-all{
    width: 90%;
    display: block;
}
.room{
    margin-bottom: 2%;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
}
.room:hover{
    box-shadow: 0 1px 2px rgba(0, 0, 0, .1), 0 4px 8px rgba(0, 0, 0, .1); 
}
.chart-container{
    margin-top: 2%;
    width: 70%;
    
    
    margin-right: auto;
    /* background-color: white; */
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);  */
}
.fa.fa-bars{
    display: none;
}
@media screen and (max-width: 650px) {
    .chart-container{
       width: 100%;
       height: 100%;
       padding-left:0 ;
    }
    .content-all{
        width: 100%;
    }
    .content{
        width: 100%;
    }
    .room{
        font: 11px;
    }
    .fa.fa-bars{
        display: block;
        
    }
}