.sidebar{
    margin-right: 2%;
    border: 1;
}

@media screen and (max-width: 650px) {
    .linksidebar{
        display: none;
        width: 100%;
        text-align: center;
        padding-top: 2%;
        padding-bottom: 2%;
    }
}