/* .content-chart{
    margin-top: 2%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1); 
    background-color: white;
    width: 60%;
} */
.chart-graph{
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1); 
}

.chart-container{
    margin-top: 2%;
    /* background-color: white; */
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);  */

}
@media screen and (max-width: 650px) {
    .content-chart{
        width: auto;
        height: auto;
    }
}