body{
    background: #f0f2f5;
}
*{
    margin:0;
}
.nav-bar{
    display: flex;
    align-items: center;   
    justify-content: space-between;
    font-family: inherit;
    box-sizing: border-box;
    background-color: white;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075) !important;
    padding: 1rem !important;
    overflow: hidden;
	
}
