<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

      <!-- Custom fonts for this template-->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="css/sb-admin-2.min.css" rel="stylesheet">
</head>
<body>



    <a href="" class="col-lg-3 col-md-6 mb-4" style="text-decoration: none; ">
        <div class="card border-left-primary shadow h-100 py-2">
           <center> <div class="card-body">
                <!-- <div class="row no-gutters align-items-center"> -->
                    <!-- <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Roeun Pacharoth</div>
                        <div class="h7 mb-0 font-weight-bold text-gray-800">Room B213</div>
                    </div> -->
                    <!-- <div class="col-auto"> -->
                      
                        <i class="fas fa-plus fa-2x text-gray-300 "></i>
                    
                    <!-- </div> -->
                <!-- </div> -->
            </div>
        </center>

        </div>
      </a>
    
</body>
</html>