{% extends 'baseadmin.html' %}
{% block title %}
History
{% endblock title %}
{% block style %}
  {% load static %}
  <style>

  </style>
{% endblock style %}
{% block content %}
     <div class="container-fluid ml-2 mr-2 " style="background-color: white;box-shadow: 0 1px 2px rgba(0, 0, 0, .1), 0 4px 8px rgba(0, 0, 0, .1); overflow-x: auto;">

          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-1">
            <h1 class="h3 mb-0 mt-2 text-gray-800">History</h1>
       
          </div>
          <div class="date ">
            <div class="row">
              <div class="col-lg-4">
                <h5 class="h5 mt-2 text-gray">Today, <span id="date"></span></h5>
              </div>
              <div class="col-lg-8">
              <div class="row" onchange="search()">
                <div class="col-lg-6">
                  <div class="form-group">
                    <input type="search" class="form-control " placeholder="Searh User" name="" id="user">
                  </div>
                </div>       
                <div class="col-lg-6">
                  <div class="form-group">
                    <input type="Date" class="form-control" id="formGroupExampleInput" >     
                  </div>
                </div>              
              </div>
              </div>
            </div>
          </div>
          
            <table class="table table-bordered " style=" background-color:white;">
              <thead style="text-align: center; color:black">
                <tr>
                  <th scope="col">No</th>
                  <th scope="col">Sub Admin</th>
                  <th scope="col">Room</th>
                  <th scope="col">Date</th>
                  <th scope="col">Average(C)</th>
                  <th scope="col">Remark</th>
                </tr>
              </thead>
              <tbody class="text-center">
                {% include 'adminall/history/historylist.html' %}
                
              </tbody>
            </table>
            <div class="js-pagination">
            {% include "adminall/history/pagination.html" %}
            </div>
        </div>

{% endblock content %}
{% block script %}
<script>
  var today = new Date();
  var date =today.getDate().toString()+'-'+(today.getMonth()+1)+'-'+ today.getFullYear();
  document.getElementById('date').innerHTML = date;
</script>
<script src="{% static "adminpage/js/user/adminpage.js" %}"></script>
<script src="{% static "adminpage/js/history/history.js" %}"></script>
{% endblock script %}