<!DOCTYPE html>
<html lang="en">
<head>
{% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block style %}
    
    
    {% endblock style %}
  <title> {% block title %}
      header
    {% endblock title %}</title>
</head>
<body>
    {% block content %}
    {% endblock content %}
    <script src="{% static "subadmin/js/jquery.js" %}"></script>
    <script src="{% static "subadmin/js/bootstrap.min.js" %}"></script>
    <script src="{% static "subadmin/js/sendmail.js" %}"></script>
    <script src="{% static "subadmin/js/resetdata.js" %}"></script>
    <script src="{% static "subadmin/js/reloadgraph.js" %}"></script>
<script src="{% static "subadmin/js/generatereport/generatereport.js" %}"></script>
<script src="{% static "adminpage/js/modal.js" %}"></script>
<script src=" {% static 'subadmin/js/resetday.js' %} "></script>
<script src="{% static "adminpage/js/dropdown.js" %}"></script>
    
    {% block script %}

    {% endblock script %}
</body>
</html>