<div id="myMain" class="modalf-fake">

  <!-- Modal content -->
  <div class="modalf-content">
    <span class="close2">&times;</span>
    Add Room
    <form>
  <div class="form-group mt-5">
    <label for="buildingRoom">Building and Room</label>
    <input type="text" class="form-control" id="buildingRoom" aria-describedby="buildingRoomHelp" placeholder="Building and Room">
    <small id="buildingRoomHelp" class="form-text text-muted">Include building and room ex:I213</small>
  </div>
  <button type="submit" class="btn btn-primary">Save</button>
</form>
  </div>

</div>