.profile{
    display: flex;
    align-items: center;
}
.all-profile{
    display: flex;
    justify-content: space-around;
}
.img-profile{
    width: 300px;
    margin-top:10%;
    margin-bottom: 10%;
}
.profile-img{
    border-radius: 5px;
    background: white;
    padding: 10px;
    display: block;
    text-align: center;

}
.profile-img:hover{
    box-shadow: 0 1px 2px rgba(0, 0, 0, .1), 0 4px 8px rgba(0, 0, 0, .1); 

}
.profile-content{
    width: 50%;
    border-radius: 5px;
    background: white;
    padding: 10px;
}
.profile-content:hover{
    box-shadow: 0 1px 2px rgba(0, 0, 0, .1), 0 4px 8px rgba(0, 0, 0, .1); 

}
@media screen and (max-width: 800px) {
    input[type=search]{
        font-size:10px;
    }
    .all-profile{
        flex-wrap: wrap;
    }
    .profile-content{
        width: 100%;
        margin-top: 2%;
    }
    .profile-content:hover{
        box-shadow: 0 1px 2px rgba(0, 0, 0, .1), 0 4px 8px rgba(0, 0, 0, .1); 
    
    }
    .profile-img{
        margin-top: 2%;
        width: 100%;
    }
    .profile-img:hover{
    box-shadow: 0 1px 2px rgba(0, 0, 0, .1), 0 4px 8px rgba(0, 0, 0, .1); 

    }

}