{% extends 'base.html' %}
{% block title %}
Profile
{% endblock title %}
{% block style %}
{% load static %}
{% include 'bootstrap.html' %}
<link rel="stylesheet" href="{% static "icon/css/all.css" %}">
<link rel="stylesheet" href="{% static "adminpage/css/content.css" %}">
<link rel="stylesheet" href="{% static "adminpage/css/chartcontent.css" %}">
<link rel="stylesheet" href="{% static "adminpage/css/sidebar.css" %}">
<link rel="stylesheet" href="{% static "adminpage/css/dropdown.css" %}">
<link rel="stylesheet" href="{% static "adminpage/css/profile/profile.css" %}">
<link rel="stylesheet" href="{% static "adminpage/css/navbar.css" %}">
{% endblock style %}
{% block content %}
<div class="nav-bar">
    <div class="no">
        <button class="nav-logo">
        <i class="fa fa-bars"></i>
        </button>
        <input type="search" class = "form-control"name="" id="" placeholder="Search">
        
    </div>
    <div class="nav-profile">
        <button class="profile-dropdown">
            <img src="" alt="">{{request.user}}
            
        </button>
    </div>
    
</div>

{% endblock content %}