{% extends 'base.html' %}
{% block title %}
Profile
{% endblock title %}
{% block style %}
{% load static %}
{% include 'bootstrap.html' %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link rel="stylesheet" href="{% static "adminpage/css/navbar.css" %}">
<link rel="stylesheet" href="{% static "icon/css/all.css" %}">
  <link rel="stylesheet" href="{% static "chartjs/css/Chart.css" %} ">
  <link rel="stylesheet" href="{% static "chartjs/css/Chart.min.css" %}">
 <script src="{% static "chartjs/js/Chart.bundle.js" %}"></script>
 <script src="{% static "chartjs/js/Chart.bundle.min.js" %}"></script>
<script src="{% static "chartjs/js/Chart.js" %}"></script>  
<script src="{% static "chartjs/js/Chart.min.js" %}"></script>
<link rel="stylesheet" href="{% static "adminpage/css/profile/profile.css" %}">
  <link rel="stylesheet" href="{% static "adminpage/css/content.css" %}">
  <link rel="stylesheet" href="{% static "adminpage/css/chartcontent.css" %}">
  <link rel="stylesheet" href="{% static "adminpage/css/sidebar.css" %}">
  <link rel="stylesheet" href="{% static "adminpage/css/dropdown.css" %}">
<style>
    /* .con:hover{
        box-shadow: 0 1px 2px rgba(0, 0, 0, .1), 0 4px 8px rgba(0, 0, 0, .1);
    } */
    body{
        overflow: hidden;
    }
    .chart-container{
        margin-top: 1%;
    }
    .profile-content{
        margin-left: 2%;
    }
</style>
{% endblock style %}
{% block content %}
<div class="nav-bar">
    <div class="profile">
        <button class="nav-logo">
            <i class="fa fa-bars"></i>
        </button>
        <form action="">
            <input class="form-control input-lg" type="text" placeholder="Search" aria-label="Search">
        </form>
    </div>
    <div class="nav-profile">
        <button class="profile-dropdown">
            {% if request.user.userprofile.img %}
            <i><img class="rounded-circle" style="width:50px; height:50px; padding:10px" src="{{request.user.userprofile.img.url}}" alt="">
            {% else %}
            <i><img class="rounded-circle" style="width:50px; height:50px; padding:10px"src="" alt="">
            {% endif %}
            </i>{{request.user}}
            
        </button>
    </div>
    
</div>

<div class="content">
    <div class="sidebar">
        <div class="linksidebar">
            <hr>
            <div >
                {% if request.user.userprofile.img %}
                <a class="profile-pic" href=" {% url 'profile' %}"> <i><img class="rounded-circle" style="width:50px; height:50px;" src="{{request.user.userprofile.img.url}}" alt="">
                </i>
                {%else%}
                <a class="profile-pic" href=" {% url 'profile' %}"> <i><img class="pic-nani"src="" alt="">
                </i>
                {% endif %}
                <div class="user">{{request.user}}</div></a>
            </div>
            <hr>
            <div class="linkbar">
                <a href=" {% url 'adminpage' %} " class=""><i class="fas fa-home"></i>Home</a> 
            </div>
            <div class="linkbar">
                <a href="{% url 'historysub' %}"><i class="fas fa-history"></i>History</a>
            </div>    
            
        </div>
    </div>

    <div class="modal fade" id="profilepuser">
        <div class="modal-dialog">
            <div class="modal-content">
                
            </div>
        </div>
    </div>
    <div class="content-all" >
        <div  class="dropdown">
            <div class="for_position">
            <div class="profile-pic-1">
                <div >
                    {% if request.user.userprofile.img %}
                    <a class="profile-pic" href=" {% url 'profile' %}"> <i><img class="rounded-circle" style="width:60px; height:60px; padding:10px;" src="{{request.user.userprofile.img.url}}" alt="">
                    </i>
                    {% else %}
                    <a class="profile-pic" href=" {% url 'profile' %}"> <i><img class="rounded-circle" style="width:60px; height:60x; padding:10px;"src="" alt="">
                    </i>
                    {% endif %}
                    
                    <div class="user">{{request.user}}</div></a>
                </div>
            </div>
            <hr>
            <div class="link-dropdown">
                <a href="{% url 'profile' %}" role="menuitem"><i class="fas fa-user"></i>Profile</a>
                <a href="{% url 'profile' %}"><i class="fas fa-edit"></i>Edit profile</a>
                <a href="{% url 'logoutpage' %}"><i class="fas fa-door-open"></i>Logout</a>
            </div>
        </div>
        </div>
        <div class="chart-container">
            <div class="con ml-0 mb-2 form-row justify-content-between align-items-center"style="width: 100%; background-color: white; border-radius:5px;">
                <div class="ml-2">Welcome back, {{request.user}}!</div>
            <button id="changepassword" class="btn btn-outline-primary mr-2 mt-2 mb-2"> Change New Password</button>
            </div>
            <form action="" class="all-profile"  method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="profile-img">
                    {% if request.user.userprofile.img %}
                    <img class="img-profile rounded-circle" style="width:100px; height:100px;" src="{{request.user.userprofile.img.url}}" alt="">
                    {% else %}
                    <img class="img-profile rounded-circle" style="width:100px;height:100px" src="" alt="">
                    {% endif %}
                    <div class="form-group" >
                        <label for="id_img">Profile Pic</label>
                        {{forms.img}}
                        <small id="imgHelp" class="form-text text-muted">You can upload image file</small>
                    </div>
                </div>
                <div class="profile-content">
                    <i class="fas fa-user-edit"></i> Edit Profile
                    <div class="form-group">
                        <label for="id_name">Name</label>

                        {{form.username}}
                        
                        <small id="nameHelp" class="form-text text-muted">Your name</small>
                      </div>
                    <div class="form-group">
                        <label for="id_phone">Phone number</label>
                        {{forms.phone}}
                        <small id="phoneHelp" class="form-text text-muted">Your Phone Number</small>
                    </div>
                    
                    <div class="ml-1 form-row justify-content-between mr-1">
                        <button type="submit" class="btn btn-primary" name="_save">Save</button>
                    </div>
                </div>
                
            </form>
        </div> 
        
    </div>
</div> 

<!-- <canvas id="myChart" ></canvas> -->
{% endblock content %}
{% block script %}
<script src="{% static "adminpage/js/chartfile.js" %}"></script>
<script src="{% static "adminpage/js/dropdown.js" %}"></script>
<script src="{% static "subadmin/js/profile/profileform.js" %}"></script>
{% endblock script %}