<style>
    ul{
        list-style: none;
        
    }
</style>
<form method="POST" action="{% url 'passwordView' %}" class="js-profile">
    {% csrf_token %}
    <div class="modal-header">
        <i class="fa fa-key modal-title" aria-hidden="true"></i>Reset Password
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label for="id_new_password1">New password</label>
           <div class="input-group"> 

            {{form_reset.new_password1}}
             <button class="btn btn-primary reveal_password1" type="button" onclick="reveal()"><i class="fas fa-eye"></i></button>
            </div>
            <small id="new_password1Help" class="form-text text-muted">New password</small>
        </div>
        <div class="form-group">
        
            <label for="id_new_password2">Confirm Password</label>
           <div class="input-group"> 
           {{form_reset.new_password2}}
            
            <button class="btn btn-primary reveal_password2" type="button" onclick="reveal1()"><i class="fas fa-eye"></i></button>
        
            
            </div><small id="new_password2Help" class="form-text text-muted">confirm that new password</small>
        </div>
        {% if form_reset.errors %}
            {{form_reset.errors}}
        {% endif %}

      
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Save</button>
    </div>
</form> 
<script>
    function reveal() {
    var $pwd = $('#id_new_password1');
    console.log($(this));
    if ($pwd.attr('type') === 'password') {
        $pwd.attr('type', 'text');
    } else {
        $pwd.attr('type', 'password');
    }
}
function reveal1() {
    var $pwd = $('#id_new_password2');
    console.log($(this));
    if ($pwd.attr('type') === 'password') {
        $pwd.attr('type', 'text');
    } else {
        $pwd.attr('type', 'password');
    }
}
</script>

